html,
body {
        width: 100%;
        height: 100%;
        margin: 0px;
        overflow: hidden;
        font-family: 'Courier New', Courier, monospace;
        user-select: none;
}

/* PlayPause */

.playPauseBtn {
        width: 100%;
        position: absolute;
        top: 40vh;
        font-size: 10vh;
        text-align: center;
        color: rgb(255, 255, 255);
}

.playPauseBtn span {
        padding: 5%;
}

/* Bottom */

.bottomPanel {
        width: 100%;
        height: 20%;
        position: fixed;
        bottom: -10%;
        transition: all 0.5s;
        background-color: transparent;
        font-size: 5vh;
        color: rgb(255, 255, 255);
}

.bottomPanel.hover {
        z-index: 1;
        display: inline;
        bottom: 0px;
        background-color: rgba(225, 225, 225, 0.9);
        color: rgb(0, 0, 0);
}

.bottomPanel .controls {
        transition: margin 0.5s;
        text-align: center;
}

.bottomPanel .controls span {
        width: 100%;
        margin-left: 2%;
        margin-right: 2%;
}

.bottomPanel.hover .controls {
        margin-top: 3%;
}

/* Label */

.label {
        width: 100%;
        font-weight: bolder;
        color: white;
        background-color: black;
        display: block;
        cursor: pointer;
        font-size: 3vh;
        text-align: left;
}

.label:hover {
        background-color: rgb(255, 71, 71);
}

/* Left */

.leftPanel {
        width: 30%;
        height: 100%;
        position: fixed;
        top: 0%;
        left: -28%;
        transition: all 0.5s;
        background-color: transparent;
}

.leftPanel.hover {
        z-index: 1;
        left: 0%;

        display: inherit;
        background-color: rgba(225, 225, 225, 0.9);
}

.leftPanel .label {
        text-align: right;
}

.leftPanel .layerContainer {
        display: none;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
}

.leftPanel.hover .layerContainer {
        display: inherit;
}

.leftPanel .layer {
        border: 0.3vh solid teal;
        font-size: 2vh;
        margin: 2vh;
        padding: 2vh;
}

.leftPanel .layer .input {
        -webkit-appearance: none;
        width: 100%;
        height: 1.5vh;
        background-color: #000000;
        outline: none;
        opacity: 0.7;
        -webkit-transition: 0.5s;
        transition: opacity 0.5s;
}

.leftPanel .layer .color {
        -webkit-appearance: none;
        width: 5vh;
        height: 5vh;
        background-color: #000000;
        -webkit-transition: 0.5s;
        transition: opacity 0.5s;
}

.leftPanel .layer .input:hover {
        opacity: 1;
        background-color: teal;
}

.leftPanel .layer .input::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 1vh;
        height: 2.5vh;
        background: #4CAF50;
        cursor: pointer;
}

.leftPanel .layer .layerBtn {
        float: right;
        margin-left: 2vh;
}

.leftPanel .layer .layerBtn:hover {
        color: rgb(255, 71, 71);
}

/* Right */

.rightPanel {
        width: 50%;
        height: 100%;
        position: fixed;
        top: 0%;
        right: -48%;
        transition: all 0.5s;
        background-color: transparent;
}

.rightPanel.hover {
        z-index: 1;
        right: 0%;
        background-color: rgba(225, 225, 225, 0.9);
}

.rightPanel .loader {
        display: none;
}

.rightPanel .playlist {
        display: none;
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden;
}

.rightPanel.hover .playlist {
        display: inherit;
}

.rightPanel .track {
        border: 0.3vh solid teal;
        font-size: 2vh;
        margin: 2vh;
        padding: 2vh;
}

.rightPanel .track div {
        margin: 2vh;
}

.rightPanel .track .deleteBtn {
        float: right;
}

.rightPanel .track .deleteBtn:hover {
        color: rgb(255, 71, 71);
}

/* Canvas */

@keyframes hue {
        0% {
                filter: hue-rotate(0deg);
        }
        100% {
                filter: hue-rotate(-360deg);
        }
}

.canvas {
        position: absolute;
        background: linear-gradient(#ff0085, #ff0000);
        animation-name: hue;
        animation-duration: 480s;
        animation-iteration-count: infinite;
}

/* audio */

.audio {
        width: 100%;
        position: absolute;
        bottom: 0%;
        display: block;
}